appdirs==1.4.4
asgiref==3.2.10
beautifulsoup4==4.9.3
bokeh==2.2.3
bootstrap4==0.1.0
certifi==2020.6.20
chardet==3.0.4
cycler==0.10.0
Cython==0.29.21
distlib==0.3.1
dj-database-url==0.5.0
Django==3.1.2
django-bootstrap-datepicker-plus==3.0.5
django-bootstrap4==2.3.1
django-filter==2.4.0
django-heroku==0.3.1
django-pandas==0.6.2
djangorestframework==3.12.1
filelock==3.0.12
gunicorn==20.0.4
holoviews==1.13.5
idna==2.10
Jinja2==2.11.2
joblib==0.17.0
kiwisolver==1.2.0
Markdown==3.3.3
MarkupSafe==1.1.1
matplotlib==3.3.2
numpy==1.19.2
packaging==20.4
pandas==1.1.3
panel==0.10.1
param==1.10.0
Pillow==8.0.0
psycopg2==2.8.6
pyct==0.4.8
pyparsing==2.4.7
python-dateutil==2.8.1
python-dotenv==0.14.0
pytz==2020.1
pyviz-comms==0.7.6
PyYAML==5.3.1
requests==2.24.0
scikit-learn==0.21.3
scipy==1.5.3
seaborn==0.11.0
six==1.15.0
soupsieve==2.0.1
sqlparse==0.4.1
threadpoolctl==2.1.0
tornado==6.0.4
tqdm==4.51.0
typing-extensions==3.7.4.3
urllib3==1.25.11
virtualenv==20.1.0
whitenoise==5.2.0
