{% extends 'dog/main.html' %}

{% load static %}
{% block content %}
{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
{{ form.media }}
<style>

    .kennel {
        visibility:hidden
    }

</style>
<a class="btn btn-danger" href="{% url 'kennelHome' kennel.name %}">Cancel</a>
<hr>
<div class="card" style="width: 40rem;">
  <div class="card-body">
    <h5 class="card-title">Entry Guide</h5>
    <p class="card-text">Breed should be entered as dominant breed mix or pair of breeds.</p>
      <p class="card-text">Example: Golden Retriever Mix OR Golden Retriever/Labrador Mix</p>
      <ul>Bully Breeds
      <li>Pit Bull</li>
      <li>American Staffordshire Terrier</li>
      <li>American Pit Bull Terrier</li>
      <li>American Bully</li>
      <li>Bull Terrier</li>
      </ul>

  </div>
</div>


<div class="row">
    <div class="col-md-6">
        <div class="card card-body">

            <hr>
            <form action="" method="POST">

                {% csrf_token %}
                {% for field in form %}
                {% if field.name != "kennel" %}
                <label>{{ field.label}}</label>
                {{field}}
                {%else%}
                {{field}}
                {% endif %}

                <hr>
                {% endfor %}

                <input type="submit" name="Submit">
            </form>
        </div>
    </div>
</div>


{% endblock %}