{% extends 'dog/main.html' %}

{% load static %}
{% block content %}
{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
{{ form.media }}
<style>

    .kennel {
        visibility:hidden
    }

</style>
<a class="btn btn-danger" href="{% url 'kennelHome' kennel.name %}">Cancel</a>
<div class="row">
    <div class="col-md-6">
        <div class="card card-body">

            <hr>
            <form action="" method="POST">

                {% csrf_token %}
                {% for field in form %}
                {% if field.name != "kennel" %}
                <label>{{ field.label}}</label>
                {{field}}
                {%else%}
                {{field}}
                {% endif %}

                <hr>
                {% endfor %}

                <input type="submit" name="Submit">
            </form>
        </div>
    </div>
</div>


{% endblock %}