{% extends 'dog/main.html' %}

{% load static %}
{% block content %}
{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
{{ form.media }}

<div class="row">
    <div class="col-md-6">
        <div class="card card-body">

            <hr>
            <form action="" method="POST">

                {% csrf_token %}
                {% for field in form %}
                <label>{{ field.label}}</label>
                {{field}}
                <hr>
                {% endfor %}

                <input type="submit" name="Submit">
            </form>
        </div>
    </div>
</div>


{% endblock %}