{% extends 'dog/main.html' %}

{% block content %}

<h2>Welcome to the Animal Shelter Outcome Predictor</h2>

{% for kennel in kennels %}

<div class="row">
    <div class="col-lg-10">
        <div class="card card-body">
            <h5>{{kennel.name}}</h5>
            <table class="table table-md">
                <tr>
                    <th>ID</th>
                    <th>Age</th>
                    <th>Breed</th>
                    <th>Intake</th>
                    <th>Condition</th>
                    <th>Outcome Prediction</th>
                    {% if kennel.id == 2 %}
                    <th>True Outcome</th>
                    {% endif %}
                </tr>
                {% for dog in dogs %}

                	{% if dog.kennel == kennel %}

                		<tr>
                		    <th>{{dog.id}}</th>
                            <td>{{dog.age}}</td>
                            <td>{{dog.breed}}</td>
                            <td>{{dog.intake_type}}</td>
                            <td>{{dog.condition}}</td>
                            <td>{{dog.pred_outcome}}</td>
                            {% if kennel.id == 2 %}
                            <td>{{dog.true_outcome}}</td>
                            {% endif %}
                            <td><a class="btn btn-sm btn-info" href="{% url 'update' dog.id %}">Update</a></td>
                            <td><a class="btn btn-sm btn-danger" href="{% url 'remove' dog.id %}">Remove</a></td>
                            <td><a class="btn btn-sm btn-danger" href="{% url 'delete' dog.id %}">Delete</a></td>

                        </tr>
                    {% endif %}
                {% endfor %}
            </table>
            {% if kennel.id == 2 %}
            <a title="Trends and Prediction Trends for {{kennel.name}} kennel" class="btn btn-primary  btn-sm btn-block"
               href="{% url 'kennel' kennel.id %}">Kennel Analysis</a>
            {% else %}
            <a title="Add a new dog to {{kennel.name}} kennel" class="btn btn-primary  btn-sm btn-block"
               href="/entry">Add Dog to Kennel</a>
            <a title="Trends and Prediction Trends for {{kennel.name}} kennel" class="btn btn-primary  btn-sm btn-block"
               href="{% url 'kennel' kennel.id %}">Kennel Analysis</a>
            {% endif %}

        </div>
    </div>
</div>

{% endfor %}

{% endblock %}
