{% extends 'dog/main.html' %}

{% block content %}
<a class="btn btn-info  btn-sm btn-block" href="/">Back to Main Page</a>
<hr>
{% for kennel in kennels %}

<div class="card" style="width: 18rem;">
    <h4>{{kennel.name}}</h4>
    <ul class="list-group list-group-flush">
        <li class="list-group-item"><a class="btn btn-success  btn-sm btn-block" href="{% url 'dayweekHeatMap' kennel.id %}">Intakes by Day and Hour</a></li>
        <li class="list-group-item"><a class="btn btn-success  btn-sm btn-block" href="{% url 'genderPlot' kennel.id %}">Outcomes by Gender</a></li>
        <li class="list-group-item"><a class="btn btn-success  btn-sm btn-block" href="{% url 'outcomeHeatMap' kennel.id %}">Outcomes by Intake Type</a></li>
        <li class="list-group-item"><a class="btn btn-success  btn-sm btn-block" href="{% url 'outcomeHeatMap' kennel.id %}">Intakes by Day and Hour</a></li>
    </ul>
</div>
<hr>
{% endfor %}
{% endblock %}