{% extends 'dog/main.html' %}

{% block content %}
<a class="btn btn-sm btn-info" href="{% url 'kennelSelect'  %}">Back to Kennel Select</a>
<hr>
<div class="row">
    <div class="col-lg-12">
        <div class="card card-body">
            <h5>Kennel Name: {{kennel.name}}</h5>
            <div>
                {{div | safe}}


                {{script | safe}}
            </div>
            <table class="table table-sm">
                <tr>
                    <th>ID</th>
                    <th>Age</th>
                    <th>Breed</th>
                    <th>Intake</th>
                    <th>Condition</th>
                    <th>Outcome Prediction</th>
                    {% if kennel.id == 2 %}
                    <th>True Outcome</th>
                    {% endif %}
                </tr>
                {% for dog in dogs %}

                	{% if dog.kennel.id == kennel.id %}

                		<tr>
                		    <th>{{dog.id}}</th>
                            <td>{{dog.age}}</td>
                            <td>{{dog.breed}}</td>
                            <td>{{dog.intake_type}}</td>
                            <td>{{dog.condition}}</td>
                            <td>{{dog.pred_outcome}}</td>
                            {% if kennel.id == 2 %}
                            <td>{{dog.true_outcome}}</td>
                            {% endif %}
                            <td><a class="btn btn-sm btn-info" title="Update dog info" href="{% url 'update' dog.id %}">Update</a></td>
                            {% if kennel.id != 2 %}
                            <td><a class="btn btn-sm btn-danger" title="Check out dog from kennel" href="{% url 'remove' dog.id %}">Remove</a></td>
                            {% endif %}
                            <td><a class="btn btn-sm btn-danger" title="Remove dog from database" href="{% url 'delete' dog.id %}">Delete</a></td>

                        </tr>
                    {% endif %}
                {% endfor %}
            </table>
            <h4 class="text-center">Kennel Options and Graphs</h4>
            {% if kennel.id == 2 %}
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><a class="btn btn-success  btn-sm btn-block"
                                               href="{% url 'dayweekHeatMap' kennel.id %}">Intakes by Day and Hour</a></li>
                <li class="list-group-item"><a class="btn btn-success  btn-sm btn-block"
                                               href="{% url 'genderPlot' kennel.id %}">Outcomes by Gender</a></li>
                <li class="list-group-item"><a class="btn btn-success  btn-sm btn-block"
                                               href="{% url 'outcomeHeatMap' kennel.id %}">Outcomes by Intake Type</a></li>
                <li class="list-group-item"><a class="btn btn-success  btn-sm btn-block"
                                               href="{% url 'outcomeTimePlot' kennel.id %}">Outcomes by Time</a></li>
                <li class="list-group-item"><a class="btn btn-success  btn-sm btn-block"
                                               href="{% url 'outcomeCompare' %}">Predicted vs Actual Outcomes</a></li>
            </ul>
            {% else %}
            <a title="Add a new dog to {{kennel.name}} kennel" class="btn btn-primary  btn-sm btn-block"
               href="{% url 'entry' %}">Add Dog to Kennel</a>
            {% endif %}

        </div>
    </div>
</div>
<!--<ul class="list-group list-group-flush">-->
<!--        <li class="list-group-item"><a class="btn btn-success  btn-sm btn-block" href="{% url 'dayweekHeatMap' kennel.id %}">Intakes by Day and Hour</a></li>-->
<!--        <li class="list-group-item"><a class="btn btn-success  btn-sm btn-block" href="{% url 'genderPlot' kennel.id %}">Outcomes by Gender</a></li>-->
<!--        <li class="list-group-item"><a class="btn btn-success  btn-sm btn-block" href="{% url 'outcomeHeatMap' kennel.id %}">Outcomes by Intake Type</a></li>-->
<!--        <li class="list-group-item"><a class="btn btn-success  btn-sm btn-block" href="{% url 'outcomeTimePlot' kennel.id %}">Outcomes by Time</a></li>-->
<!--        {% if kennel.id == 2 %}-->
<!--        <li class="list-group-item"><a class="btn btn-success  btn-sm btn-block" href="{% url 'outcomeCompare' %}">Predicted vs Actual Outcomes</a></li>-->
<!--        {%endif%}-->
<!--    </ul>-->

{% endblock %}
