{% extends 'dog/main.html' %}

{% block content %}


<div class="card" style="width: 25rem;">
    <div class="card-body">
        <h5 class="card-title">Welcome to Dog Shelter Predictions</h5>
            <p class="card-text">Kennels store separate dog entries, all outcomes from kennels stored in historical outcomes</p>
            <p class="card-text">Below are the available kennels to you</p>

    </div>
</div>

<hr>

<h3>Available Kennels</h3>
{% for kennel in kennels %}

<div class="card" style="width: 25rem;">
    <ul class="list-group list-group-flush">
        <li><a title="Trends and Prediction Trends for {{kennel.name}} kennel" class="btn btn-primary  btn-sm btn-block"
               href="{% url 'kennelHome' kennel.name %}">{{kennel.name}}</a></li>
        {% if kennel.id == 2 %}
        <span>Note: Historical Outcomes contains additional data visualizations</span>
        {%endif%}
    </ul>
</div>
<hr>
{% endfor %}

{% if request.user.is_staff %}
<a href="{% url 'admin:index' %}">Link to admin panel</a>
{% endif %}


{% endblock %}

