{% extends 'dog/main.html' %}

{% block content %}
<a class="btn btn-sm btn-info" href="{% url 'kennelSelect'  %}">Back to Kennel Select</a>
<hr>
  <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
    Guide
  </button>
<div class="collapse" id="collapseExample">
  <div class="card card-body">

        <p>This dashboard shows the current occupants of the kennel, the predicted outcome is this product's prediction on what
            would happen to each dog if they left the shelter at the current time.</p>
        <hr>
        <p>Here is an explanation of each potential outcome:</p>
        <ul>
            <li>Adoption: The dog is adopted to a person</li>
            <li>Transfer: The dog is moved to a different shelter or partner for purposes of increasing adoption chance
                or because they are better equipped for this dog</li>
            <li>Return to Owner: The dog is is a lost stray and was successfully reunited with their owner</li>
            <li>Euthanasia: The dog was put down, usually for behavioral or medical issues</li>
        </ul>

      {% if kennel.name == "Historical Outcomes" %}
        <p>This is a historical outcome and has more information. Please note dogs can not be checked out of historical kennel</p>
        <ul>
            <li>True outcome: This is the result that actually happened to the dog.</li>
        </ul>
      {% endif %}
  </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="card card-body">
            <h5>Kennel Name: {{kennel.name}}</h5>
            <div>
                {{div | safe}}


                {{script | safe}}
            </div>
            <table class="table table-sm">
                <tr>
                    <th>ID</th>
                    <th>Age</th>
                    <th>Breed</th>
                    <th>Intake</th>
                    <th>Condition</th>
                    <th>Outcome Prediction</th>
                    {% if kennel.id == 2 %}
                    <th>True Outcome</th>
                    {% endif %}
                </tr>
                {% for dog in dogs %}

                	{% if dog.kennel.id == kennel.id %}

                		<tr>
                		    <th>{{dog.id}}</th>
                            <td>{{dog.age}}</td>
                            <td>{{dog.breed}}</td>
                            <td>{{dog.intake_type}}</td>
                            <td>{{dog.condition}}</td>
                            <td>{{dog.pred_outcome}}</td>
                            {% if kennel.id == 2 %}
                            <td>{{dog.true_outcome}}</td>
                            {% endif %}
                            <td><a class="btn btn-sm btn-info" title="Update dog info" href="{% url 'update' dog.id %}">Update</a></td>
                            {% if kennel.id != 2 %}
                            <td><a class="btn btn-sm btn-danger" title="Check out dog from kennel" href="{% url 'remove' dog.id %}">Check Out</a></td>
                            {% endif %}
                            <td><a class="btn btn-sm btn-danger" title="Remove dog from database" href="{% url 'delete' dog.id %}">Delete</a></td>

                        </tr>
                    {% endif %}
                {% endfor %}
            </table>
            <h4 class="text-center">Kennel Options and Graphs</h4>
            {% if kennel.id == 2 %}
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><a class="btn btn-success  btn-sm btn-block"
                                               href="{% url 'dayweekHeatMap' kennel.id %}">Intakes by Day and Hour</a></li>
                <li class="list-group-item"><a class="btn btn-success  btn-sm btn-block"
                                               href="{% url 'genderPlot' kennel.id %}">Outcomes by Gender</a></li>
                <li class="list-group-item"><a class="btn btn-success  btn-sm btn-block"
                                               href="{% url 'outcomeHeatMap' kennel.id %}">Outcomes by Intake Type</a></li>
                <li class="list-group-item"><a class="btn btn-success  btn-sm btn-block"
                                               href="{% url 'outcomeTimePlot' kennel.id %}">Outcomes by Time</a></li>
                <li class="list-group-item"><a class="btn btn-success  btn-sm btn-block"
                                               href="{% url 'outcomeCompare' %}">Predicted vs Actual Outcomes</a></li>
                <li><a class="btn btn-success  btn-sm btn-block"
                                               href="{% url 'downloadDogs' kennel.id %}">Export Dogs</a></li>
            </ul>
            {% else %}
            <a title="Add a new dog to {{kennel.name}} kennel" class="btn btn-primary  btn-sm btn-block"
               href="{% url 'entry' kennel.id %}">Add Dog to Kennel</a>
            <a class="btn btn-success  btn-sm btn-block"
                                               href="{% url 'uploadDogs' kennel.id %}">Import Dogs</a>
            <a class="btn btn-success  btn-sm btn-block"
                                               href="{% url 'downloadDogs' kennel.id %}">Export Dogs</a>
            {% endif %}

        </div>
    </div>
</div>
<!--<ul class="list-group list-group-flush">-->
<!--        <li class="list-group-item"><a class="btn btn-success  btn-sm btn-block" href="{% url 'dayweekHeatMap' kennel.id %}">Intakes by Day and Hour</a></li>-->
<!--        <li class="list-group-item"><a class="btn btn-success  btn-sm btn-block" href="{% url 'genderPlot' kennel.id %}">Outcomes by Gender</a></li>-->
<!--        <li class="list-group-item"><a class="btn btn-success  btn-sm btn-block" href="{% url 'outcomeHeatMap' kennel.id %}">Outcomes by Intake Type</a></li>-->
<!--        <li class="list-group-item"><a class="btn btn-success  btn-sm btn-block" href="{% url 'outcomeTimePlot' kennel.id %}">Outcomes by Time</a></li>-->
<!--        {% if kennel.id == 2 %}-->
<!--        <li class="list-group-item"><a class="btn btn-success  btn-sm btn-block" href="{% url 'outcomeCompare' %}">Predicted vs Actual Outcomes</a></li>-->
<!--        {%endif%}-->
<!--    </ul>-->

{% endblock %}
